h1{
    color:#fafafa;
}

body{
    /*background-color: hsl(22, 69%, 45%);*/
    background-image: url(../SRC/IMAGENS/estrogonoff.jfif) ;
    background-repeat:no-repeat;
    background-size: cover ;

   


    }