header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(160, 0, 246);
  padding: 10px 50px;
  
  
}

div{
  padding: 2px ;
  display: flex;
  justify-content: space-around;
    background-color: rgb(255, 249, 185);}

body {
    background-color: rgb(202, 201, 235);
}

nav{
    display: flex;
    gap: 30px;
}

a {
 text-decoration: none;
}

img{
    width:370px;
    height:260px;
}